@model IEnumerable<Inventarisation.Models.Status>

@{
    ViewData["Title"] = "Index";
}

<h1>Список статусов</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Добавить статус</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@if (Model != null) 
foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактирование</a> |
                @*<a asp-action="Details" asp-route-id="@item.Id">Детали</a> |*@
                <a asp-action="Delete" asp-route-id="@item.Id">Удаление</a>
            </td>
        </tr>
}
    </tbody>
</table>
